.card {
  display: flex;
  height: 84px;
  align-items: center;
}
.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-size: 400% 400%;
  background: linear-gradient(90deg, #f3f3f6 0%, #fafafa 100%);
}
.text {
  height: 60px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.upLine {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.name {
  width: 144px;
  height: 16px;
  margin-top: 10px;
  background: linear-gradient(90deg, #f3f3f6 0%, #fafafa 100%);
  border-radius: 50px;
}

.department {
  margin-bottom: 10px;
  width: 80px;
  height: 12px;
  background: linear-gradient(90deg, #f3f3f6 0%, #fafafa 100%);
  border-radius: 50px;
}
